<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370503222428-gl49br4iie8pas88r6ou9clcak4adfjd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370503222428-gl49br4iie8pas88r6ou9clcak4adfjd</string>
	<key>API_KEY</key>
	<string>AIzaSyBwWVCk_Hz6INDch2eUj_EEdSdRSCdist8</string>
	<key>GCM_SENDER_ID</key>
	<string>370503222428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fashionstore</string>
	<key>PROJECT_ID</key>
	<string>myecommerceapp-d43ed</string>
	<key>STORAGE_BUCKET</key>
	<string>myecommerceapp-d43ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370503222428:ios:ba07b0621ba8abd1f51959</string>
</dict>
</plist>